

<div class="col-md-2 nav sidebar">
    <ul>
        <li>
            <a href="/Book/Genre?genre=Novel">Novel</a>
        </li>
        <li>
            <a href="/Book/Genre?genre=Detective">Detective</a>
        </li>
        <li>
            <a href="/Book/Genre?genre=Fantasy">Fantasy</a>
        </li>
        <li>
            <a href="/Book/Genre?genre=Adventure">Adventure</a>
        </li>
    </ul>
</div>